:root{
--menuAzul:  #343e48 ;
--celeste : #3f71f0;
--celesteClaro : #dce4f7;
--beige : #f8f3bf;
--naranja : #d34017;
--blanco : white;
--hovernaranja :#fa8a09;
}

main{
height: 100vh;
  }
.banner_cltes{
  display: grid;
    grid-template-columns: repeat(2, 1.5fr);
    column-gap: 1rem;/*separacion de col*/
}
.cltes-banner{
    background-image: url('../img/clientes.png');
    background-size: 30rem;/*adapta la img*/
    background-repeat: no-repeat;
     background-position: center;
    height: 30rem;
    width: 90%;
    margin: 2rem;
}
.contexto{
    display: flex;
    align-items: center;
    justify-content: center;
}  
.brevedad{
    color: var(--menuAzul);
    text-align: justify;    
    font-size: 1.8rem;
     width: 100%;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    /*animacion hacia la derecha*/
    color: var(--menuAzul);
    animation: entrar 1s ease-out forwards;
}
@keyframes entrar {
    from {
      transform: translateX(-200px);
      opacity: 0;
    }
    to {
      transform: translateX(20px);
      opacity: 1;
    }
  }


   .contenedor-comentarios {
    display: flex;
    flex-wrap: wrap;        /* ⭐ Permite que los comentarios pasen a otra fila */
    gap: 15px;
  justify-content: center;
  }

.comentario {
    display: flex;
    gap: 12px;
    padding: 12px;
    background: #f5f5f5;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 300px;           /* ⭐ Cada comentario ocupa este ancho */
    box-sizing: border-box;
  }

  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  .contenido {
    flex: 1;
  }

  .nombre {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }

  .contenido  .coment {
    margin: 4px 0 0 0;
    font-size: 14px;
    color: #333;
  }


  @media (min-width: 768px){
   .brevedad{
    font-size: 2.5rem;
    text-align: justify;    
    width: 60%;
  }
  }