.banner_cltes{
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;/*separacion de col*/
}
.cltes-banner{
    background-image: url('../img/clientes.png');
    background-size: 30rem;/*adapta la img*/
    background-repeat: no-repeat;
     background-position: center;
    height: 30rem;
    width: 100%;
    margin: 2rem;
}
.contexto{
    display: flex;
    align-items: center;
    justify-content: center;
}  
.brevedad{
    color: var(--menuAzul);
    font-size: 1.2rem;
     width: 100%;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
}