:root{
--menuAzul:  #343e48 ;
--celeste : #3f71f0;
--celesteClaro : #dce4f7;
--beige : #f8f3bf;
--naranja : #d34017;
--blanco : white;
--hovernaranja :#fa8a09;
}

/*========== BANNER ==============*/

.banner{
    background-image: url(../img/hero.jpg);
    background-size: cover;/*adapta la img*/
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-banner{
    position: absolute;
    background-color: rgba(21, 21, 21, 0.815);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.contenido-banner h2, .contenido-banner p{
    color: var(--blanco);
}

.titulo:after{
    content: " Web";/*contenido extra sin q este en html*/
}

.ubicacion{
    display: flex;
    align-items: center;
}

.sombra{
   box-shadow: 0px 8px 13px 0px rgba(0,0,0,0.4);
-webkit-box-shadow: 0px 8px 13px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 8px 13px 0px rgba(0,0,0,0.4);
background-color: var(--blanco);
padding: 2rem;
border-radius: 2rem;
}

/*scroll automatico a estos puntos */
header, main , .contactofrm , .footer{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.brevedad{
    width: min(50rem , 100%);
    font-size: 1.5rem;
     text-align: justify;
}

/*========== ICONOS SERVICIOS ==============*/

.servicio .icono{
    height: 9rem;
    width: 9rem;
    background-color: var(--menuAzul);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio p {
    line-height: 2;/*espacio entre lineas*/
    text-align: center;
     padding: 1.5rem;
}
.servicio h3 {
    color: var(--naranja);
    font-weight: normal;
}







/*==========Formulario contactenos ==============*/

.formulario{
    background-color: var(--menuAzul);
    /*toma el ancho entre 60rem y 100%*/
    width: min(60rem , 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;  
}

.formulario legend{
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--naranja);
    margin-bottom: 2rem;
}


.campo {
   margin-bottom: 1rem; 
}

.campo label{
color: var(--blanco);
font-weight: bold;
margin-bottom: 0.5rem;
display: block;
}
.campo textarea{
    height: 20rem;
}

/*DARLE COLOR AL BACKgr DE UN INPUT x tipo
.campo input[type="text"]{
    background-color: red;
}
    o darles clase a los inputs y darles estilo
*/

.inpt-text{
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    border: none;
}

.campo textarea.inpt-text {
  min-height: 12rem;
}


.alinear-derecha{
    display: flex;
    width: 100%;
  justify-content: flex-end;
 
}

.footer{
    background-color: var(--menuAzul);
    color: var(--blanco);
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}



/*========== MEDIAS QUERYS ==============*/

@media (max-width : 768px){

.banner{
    background-size: cover;/*adapta la img*/
    height: 300px;
    position: relative;
    margin-bottom: 1rem;
}
 .alinear-derecha{
  justify-content: center;
}
.btncontactar{
    width: 100%;
 }
 .brevedad{
    font-size: 1rem;
    padding: 3rem;
 }
}

@media (min-width : 768px){
  .alinear-derecha{
    width: auto;
  }
 
}


@media (min-width: 768px){
 .servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;/*separacion de col*/
 }
}
@media (max-width: 768px){
 .servicio p{
     text-align: justify;
 }
}




@media (min-width: 768px){
 .contenedor-campos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
 }
 .campo:nth-child(3), 
 .campo:nth-child(4){/*el campo#3 */
    grid-column: 1/3;/*ocupa 2 columnas*/
 }
 .alinear-derecha{/*el campo#3 */
    grid-column: 1/3;/*ocupa 2 columnas*/
 }
}
 

/* al texto le da borde de color
 -webkit-text-fill-color:var(--naranja);
    -webkit-text-stroke: 0.5px var(--blanco);
*/