:root{
--menuAzul:  #343e48 ;
--celeste : #3f71f0;
--celesteClaro : #dce4f7;
--beige : #f8f3bf;
--naranja : #d34017;
--blanco : white;
--hovernaranja :#fa8a09;
}

/*========== INTRO ==============*/

html{
    font-size:60.5%;
    box-sizing: border-box;
/*permite el scrol en vertical y autom*/
    scroll-snap-type: y mandatory;
    /*permite el scrol en horizonta cambias a x*/
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-size:16px;
     font-family: "Roboto Mono", monospace;
     /*degradado fondo*/
     /*background-image: linear-gradient(to top, var(--celesteClaro) 0% , var(--blanco) 50%);*/
}
h1{
    font-size: 3.8rem;
}
h2{
 font-size: 2.8rem;
}
h3{
 font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
/*========== TITULO ==============*/
.myname{
    margin: 2rem;
}
.myname span{
    font-size: 0.5em;
    color: var(--naranja);
}

/*==========BOTONES ==============*/
.btncontactar{
    background-color: var(--naranja);
    color: black;
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    text-align: center;
}
.btncontactar:hover {
    background: var(--hovernaranja);
    cursor: pointer;
}

/*========== NAVBAR ==============*/

.contenedor{
    max-width: 120rem;/*1200px*/
    margin: 0 auto;/*arriba -abajo / derecha-izq*/
}
.nav-bg{
 background-color: var(--menuAzul)
}
.nav-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700px;
    margin-bottom: 0.5rem;
}
.nav-principal a:hover{
    background-color: var(--celesteClaro);
    color: black;
}




/*========== MEDIAS QUERYS ==============*/
@media (min-width: 768px){
 body{
    font-size:18px;
 }

}
 
@media (max-width : 768px){
.nav-principal{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
}


